@import "theme_variables";

.forgotten-password {
  .form-fields {

    .center-email-fields {
      margin: 0;
      button {
        margin-top: 20px;
      }
    }

    .email {
      padding-left: 0;
      padding-right: 0;
      width: 100%;

      input {
        height: 38px;
      }
    }

    label.required {
      padding: 0;
      text-align: left;
    }
  }
}

.send-renew-password-link {
  line-height: 22px;
}

// .send-renew-password-link {
//   padding-left: 10px;
//   padding-right: 10px;
// }

#password {
  .page-header, .page-content {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .page-content {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    margin-bottom: 50px;
  }
}
