@import "theme_variables";

#subcategories {
  margin-bottom: 20px;
  border-top: 1px solid #e1e1e1;
  .subcategory-heading {
    font-size: 18px;
    font-weight: 500;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    li {
      width: calc(100% / 3);

      @media (max-width: 992px) and (min-width: 480px) {
        width: calc(100% / 2);
      }

      @media (max-width: 480px) {
        width: calc(100% / 1);
      }

      //min-width: 200px;
      padding: 10px;
      text-align: center;
      .subcategory-image {
        padding: 0 0 15px;

        a {
          display: block;
          padding: 0;
          border: 1px solid #e1e1e1;

          img {
            vertical-align: top;
            width: 100%;
          }
        }
      }

      .subcategory-name {
        font-size: 16px;
        font-weight: 500;

        &:hover {
          color: $brand-primary;
        }
      }

      .cat_desc {
        display: none;
      }

      &:hover {
        .subcategory-image {
          a {
            // padding: 5px;
            border: 1px solid $brand-primary;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #subcategories {
    ul {
      justify-content: center;
    }
  }
}


#category {
  #js-product-list-header {
    margin-bottom: 20px;
  }
}