// Block Modules Sidebar
// ========================================================================

$block-margin-bottom: 				50px !default;

// Heading Block
$block-heading-font-size:		    18px !default;
$block-heading-font-weight:         500 !default;
$block-heading-padding: 		    0 !default;
$block-heading-margin: 		        0 0 8px !default;
$block-heading-transform:           none !default;
$block-heading-line-height:         normal !default;
$block-heading-letter-spacing:      0px !default; 
$block-heading-radius: 			    0px;
$block-heading-border: 			    none !default;

// Block Content
$block-content-border:			    $main-border !default;
$block-content-padding:			    10px 0 0 !default;
$block-content-radius:         	    0px !default;
