@import url("//fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700");

/* stylelint-disable */
//@import "~bourbon/app/assets/stylesheets/bourbon";
//@import "~bootstrap/scss/bootstrap";
//@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";

@import "partials/_bootstrap-flex";
@import "partials/_bootstrap-grid";
@import "partials/_bootstrap-reboot";
@import "partials/_jquery.bootstrap-touchspin.min";
@import "_base_variables";
@import "_theme_variables";
@import "partials/_mixins";
@import "partials/_fonts";
@import "app/buttons";
@import "app/menu";
@import "app/block";
@import "app/modules";
@import "app/product-item";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
//@import "components/imageslider";
//@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/subcategories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
@import "components/newsletter";
@import "components/brands";
@import "components/header";
@import "components/wrapper";
@import "components/main";
@import "components/notifications";
@import "components/progressbar";

body {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    @include border-radius(5px);
    background: #ddd;
  }
  ::-webkit-scrollbar-thumb {
    @include border-radius(5px);
    background: #666;
  }
  &.layout-boxed-lg {
    background: $white;
    #page {
      max-width: 1220px;
      @include box-shadow(0 0 5px lighten($gray-darker, 50%));
      margin: 0 auto;
      background: $white;
      .container {
        max-width: 1200px;
      }
    }
  }
}
/*** WRAPPER ***/
#page {
  overflow: hidden;
}

.hidden,
.hide {
  display: none;
}
img {
  max-width: 100%;
}
/* Back to top */
#back-top {
  position: fixed;
  bottom: 30px;
  @include rtl-right(30px);
  @media (max-width: 991px) {
    bottom: 10px;
    @include rtl-right(10px);
  }
  z-index: 999;
  a {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
    background: #000;
    color: #fff;
    text-align: center;
    font-family: $font-icon-5;
    font-weight: 400;
    &:hover {
      background-color: var(--theme-color-default);
    }
  }
}
@include media-breakpoint-down(lg) {
  .container {
    width: 100%;
  }
}
.text-center {
  text-align: center;
}
/* Show text tiktok in social module */
.block-social li {
  &.tiktok {
    width: auto;
  }
  a {
    overflow: visible;
  }
}

.fa-light {
  font-family: $font-icon-5;
  font-style: normal;
}
