// scss-lint:disable QualifyingElement
//
// Base styles
//
.btn {
  padding: 10px 26px;
  text-transform: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  &:hover {
    background-color: var(--btn-bg-hover);
    color: var(--btn-color-hover);
  }
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
      outline-offset: 0;
    }
  }

  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    // @include box-shadow($btn-active-box-shadow);
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: 0.65;
    @include box-shadow(none);
  }
}
// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

//btn-primary button main, use button submit form
.btn-primary {
  background-color: var(--btn-bg);
  color: var(--btn-color);
  border-radius: $btn-border-radius;
  //  padding: 0.5rem 1.25rem;
  //  border:0;
  &:hover,
  &:focus,
  &.active {
    background-color: var(--btn-bg-hover);
    color: var(--btn-color-hover);
    outline: none;
    outline-offset: 0;
  }
  &:active:focus {
    outline: none;
    outline-offset: 0;
  }
  .material-icons {
    margin-right: $small-space;
  }
}

.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
  @include button-variant(
    $btn-success-color,
    $btn-success-bg,
    $btn-success-border
  );
}
.btn-warning {
  @include button-variant(
    $btn-warning-color,
    $btn-warning-bg,
    $btn-warning-border
  );
}
.btn-danger {
  @include button-variant(
    $btn-danger-color,
    $btn-danger-bg,
    $btn-danger-border
  );
}

// Remove all backgrounds
.btn-outline-primary {
  @include button-outline-variant($btn-primary-bg);
}
.btn-outline-secondary {
  @include button-outline-variant($btn-secondary-border);
}
.btn-outline-info {
  @include button-outline-variant($btn-info-bg);
}
.btn-outline-success {
  @include button-outline-variant($btn-success-bg);
}
.btn-outline-warning {
  @include button-outline-variant($btn-warning-bg);
}
.btn-outline-danger {
  @include button-outline-variant($btn-danger-bg);
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;
  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

//
// Button Sizes
//

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $font-size-lg,
    $btn-border-radius-lg
  );
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $font-size-sm,
    $btn-border-radius-sm
  );
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
.slick-slider {
  .slick-next,
  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    &:before {
      font-family: $font-icon-3;
      font-size: 35px;
      line-height: 1;
      opacity: 0.75;
      color: var(--text-color);
    }
    &:hover {
      &:before {
        color: var(--theme-color-default);
      }
    }
  }
  .slick-next {
    @include rtl-right(20px);
    &:before {
      content: "\e89e";
    }
  }
  .slick-prev {
    @include rtl-left(20px);
    &:before {
      content: "\e89f";
    }
  }
}
ul.slick-dots {
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:before {
        font-family: $font-icon-3;
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "\e914";
        text-align: center;
        @include opacity(0.25);
        color: #000;
      }
    }
    &.slick-active {
      button {
        &:before {
          @include opacity(0.75);
          color: var(--theme-color-default);
        }
      }
    }
  }
}

button {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
