@import "theme_variables";

/* block top search */

span.no-result {
  padding: 10px;
}

form#searchbox {
  padding-top: 5px;
  label {
    color: #333;
    margin-bottom: 1px;
  }
  input#leo_search_query_block {
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    height: 18px;
    margin-top: 10px;
  }
  input#search_button {
    padding: 1px 4px;
  }
}

.list-cate-wrapper {
  position: relative;
}

.list-cate {
  width: 100%;
  padding: 0px;
}

.cate-item {
  display: block;
  padding: 10px;
}

#leosearchtopbox a.cate-item.active,
#leosearchtopbox a.cate-item:hover,
#leosearchbox a.cate-item.active,
#leosearchbox a.cate-item:hover {
  background: var(--theme-color-default);
  color: #fff;
}

#dropdownListCate,
#dropdownListCateTop {
  cursor: pointer;
  display: block;
  padding: 5px 0px 5px 5px;
}

#leosearchtopbox #dropdownListCateTop:hover,
#leosearchbox #dropdownListCate:hover {
  color: #414141;
}
.search-by-category {
  .block_content {
    @include rtl-padding(0, 0, 0, 170px);
  }
}
#leo_search_block_top {
  .leoproductsearch-content {
    position: relative;
    display: flex;
  }
  .block_content {
    position: relative;
    // border: 1px solid $border-color;
    @media (max-width: 575px) {
      @include rtl-padding(0, 0, 0, 0px);
    }
  }
  .list-cate-wrapper {
    position: absolute;
    top: 0;
    width: 170px;
    height: 45px;
    @include rtl-left(0);
    @media (max-width: 575px) {
      display: none;
    }
    &:before {
      content: "";
      width: 1px;
      height: 25px;
      position: absolute;
      top: 10px;
      @include rtl-right(0);
      background: #eee;
    }
    .select-title {
      height: 45px;
      overflow: hidden;
      line-height: 45px;

      color: #999;
      i {
        position: absolute;
        top: 14px;
        @include rtl-right(10px);
      }
    }
    .dropdown-menu {
      font-size: 13px;
      max-height: 230px;
      overflow: auto;
      overflow-x: hidden;
    }
  }
  #dropdownListCateTop {
    padding: 0 25px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    i {
      font-size: 14px;
    }
  }
  .form-control {
    background: none;
    border: 1px solid #e1e1e1;
    height: 45px;
    line-height: 45px;
    @include rtl-padding(0, 45px, 0, 15px);
    @include border-radius(0);
    outline: 0;
    @media (max-width: 767px) {
      font-size: 12px;
    }
    &:focus {
      border-color: var(--theme-color-default);
    }
  }
  .btn {
    width: 50px;
    height: 45px;
    line-height: 45px;
    border: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    background: none;
    color: var(--text-color);
    position: absolute;
    top: 0;
    @include rtl-right(0);
    i {
      font-size: 0;
      width: auto;
      height: auto;
      &::before {
        content: "\f002";
        font-family: $font-icon-5;
        font-size: 18px;
      }
    }
    &:hover {
      color: var(--theme-color-default);
    }
  }
}
#leo_search_block_top {
  &.show_search {
    .title_block {
      display: block;
      font-size: 0;
      color: #000;
      margin: 0;
      height: 22px;
      line-height: 22px;
      cursor: pointer;
      &:before {
        content: "\f002";
        font-family: $font-icon;
        font-size: 25px;
        display: inline-block;
        transform: rotateY(180deg);
        font-weight: 900;
      }
      &:hover {
        &:before {
          color: var(--theme-color-default);
        }
      }
    }
    #leosearchtopbox {
      position: absolute;
      width: 300px;
      top: 150%;
      transition: all 0.3s;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      z-index: 999;
      background: #fff;
      @media (max-width: 767px) {
        @include rtl-right(-100px);
      }
    }
  }
  &.active {
    #leosearchtopbox {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.leoproductsearch-result {
  position: relative;
  .ac_results {
    @include rtl-text-align-left();
    margin-top: 10px;
    left: 0;
    width: 100% !important;
    border: 1px solid #e1e1e1;
    padding: 0;
    .search-value-title {
      padding: 15px 15px 10px;
    }
    ul {
      max-height: 300px;
      overflow: auto;
      li {
        padding: 0 15px;
        font-family: var(--font-family-base);
        &:not(:last-child) {
          margin-bottom: 20px;

        }
        a {
          display: flex;
        }
        &.ac_over {
          background-color: #fff;
        }
      }
    }
    .lps-result-img {
      width: 60px;
    }
    .lps-result-content {
      flex: 1;
      @include rtl-padding-left(15px);
    }
    .lps-result-title {
      font-size: 16px;
      font-weight: 500;
      margin: 0 0 10px;
    }

    .lps-result-price {
      font-size: 14px;
      font-weight: 500;
    }
    .all-search-product {
      padding: 15px;
      a {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}


.search--icon {
  #leo_search_block_top {
    .title_block {
      font-size: 0;
      display: inline-flex;
      margin-bottom: 0;
      color: #000;
      &::before {
        content: "\f002";
        font-family: $font-icon-5;
        font-size: 18px;
      }
    }
    form {
      position: absolute;
      display: none;
    }
  }
}




.page-heading.product-listing {
  font-weight: 500;
  margin-bottom: 30px;
}